html,
body {
    height: 100%;
    font-family: Verdana, sans-serif;
}

.app-container {
    height: 100%;
    display: grid;
    grid-template-rows: 48px 1fr 32px;
    grid-template-columns: 300px 1fr;
    gap: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 1 / 3;
}

.footer {
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column: 1 / 3;
}

.empty-placeholder {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    color: whitesmoke;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.button-start {
    width: 200px;
}

.plugins-list {
    height: calc(100% - 20px);
}

/*
.plugin-list {
    height: 100%;
    overflow: auto;
    grid-row: 2;
    grid-column: 1;
}

.plugin-list > ul {
    list-style-type: none;
    padding-left: 0; 
}

.plugin-list > ul > li {
    height: 28px;
    padding: 8px;
    cursor: pointer;
}

.plugin-item.selected {
    background-color: cornflowerblue;
    color: whitesmoke;
}
*/

.plugin-info {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 128px;
    grid-template-columns: 400px 1fr;
    overflow: hidden;
    gap: 8px;
}

.plugin-ttl-preview {
    grid-row: 1;
    grid-column: 1;
    overflow: auto;
}


.plugin-ttl-text {
    width: 100%;
    white-space:pre;
    font-family: monospace;
}

.plugin-info-preview {
    grid-row: 1;
    grid-column: 2;
    white-space:pre-wrap;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    align-items: baseline;
    height: fit-content;
    padding: 12px;
}


.port-control {
    width: 128px;
    height: 128px;
    background-color: rgb(59, 58, 58);
    color: whitesmoke;
    text-align: center;
    position: relative;
    border-radius: 4px;
    border-top-style: solid;
    border-top-width: 4px;
}


.port-control.selected {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.port-label {
    font-size: 14px;
}

.port-knob {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 40px;
    top: 48px;
    border-radius: 50%;
    background-image: url(knob.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px;
}

.port-group {
    position: absolute;
    bottom: 4px;
    font-size: 14px;
    right: 8px;
}

.plugin-info-palette {
    grid-row: 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
    align-content: center;
    padding: 12px;
}

/* 32 Groups */
:root {
    --no-group-color: #883996;;
    --group-0-color: #DE7558;
    --group-1-color: #16ACA6;
    --group-2-color: #74A16B;
    --group-3-color: #EC2469;
    --group-4-color: #860FDA;
    --group-5-color: #D4BA3D;
    --group-6-color: #819393;
    --group-7-color: #9951BF;
    --group-8-color: #DFB6A5;
    --group-9-color: #B9A843;
    --group-10-color: #81DEA8;
    --group-11-color: #AB386B;
    --group-12-color: #4D80DD;
    --group-13-color: #EBE65A;
    --group-14-color: #0B575B;
    --group-15-color: #5755F7;
    --group-16-color: #3DC745;
    --group-17-color: #F51034;
    --group-18-color: #84D08B;
    --group-19-color: #CAB8B0;
    --group-20-color: #425265;
    --group-21-color: #341B05;
    --group-22-color: #055538;
    --group-23-color: #1AE35C;
    --group-24-color: #9D0B8E;
    --group-25-color: #6F8C9A;
    --group-26-color: #F91114;
    --group-27-color: #069758;
    --group-28-color: #2340B9;
    --group-29-color: #3F7CBB;
    --group-30-color: #8185D4;
    --group-31-color: #080F1F;
}

/* Quirks PrimeVue */

.custom-ttl-dialog .p-dialog-content {
    height: 100%;
}


.plugins-list > .p-listbox-list-container {
    max-height: calc(100% - 64px) !important;
}

